body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
}

header{
    grid-column: 1 / 3;
    background-color:gray;
    
}
.navigation {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 1rem;
}

main {
    grid-column: 1 / 2;
    background-color: lightgray;
}

aside {
    grid-column: 2 / 3;
    background-color: white;
}

footer {
    grid-column: 1 / 3;
    background-color: gray;
    
}