

@media screen and (min-width: 500px) {
    #cards {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
    }
    h1 {
        grid-column: 1 / 3;
    }
    img {
        max-width: 750px;
    }

}

@media screen and (min-width: 1100px) {
    #cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    h1 {
        grid-column: 1/ 4;
    }
    img {
        max-width: 1000px;
    }
    #menu {
        display: none;
    }
    nav{
        position: static;
        width: auto;
        margin-right: 0;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 0;
    }
    .navigation li {
        display: block;
    }
    .menu-list {
        display: block;
    }

}